@using Abstractions.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model PeopleRequest
}


<h1>Crear persona</h1>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(model => model.FirstLastName)
        @Html.TextBoxFor(model => model.FirstLastName, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(model => model.City)
        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" value="Crear" />
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}