@using Abstractions.Models

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IList<People>
}

<h1>Personas</h1>
<a class="btn btn-success" asp-action="Crear" asp-controller="People"> Crear</a>
<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nombre Completo
            </th>
            <th></th>
            <th>
                Ciudad
            </th>
            <th>
                Dirección
            </th>
            <th>
                Número de Teléfono
            </th>
            <th>
                Fecha de creación
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="2" class="text-center">No hay personas para mostrar.</td>
            </tr>
        }
        else
        {
            @foreach (People person in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelo => person.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelo => person.Name)
                        @Html.DisplayFor(modelo => person.FirstLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelo => person.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelo => person.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelo => person.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelo => person.CreatedAt)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@person.Id" asp-controller="People" class="btn btn-info">Editar</a>
                    </td>
                    <form id="deleteForm-@person.Id" asp-controller="People" asp-action="Eliminar" asp-route-id="@person.Id" method="post" onsubmit="confirmDelete(event, '@person.Id')">
                    <td>
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
                    </td>
                    </form>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        function confirmDelete(e, Id) {
            e.preventDefault();

            Swal.fire({
                title: '¿Estás seguro que quieres eliminar esta persona? Esta acción no se puede deshacer.',
                icon: 'question',
                showCancelButton: true
            }).then(result => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, obtenemos el formulario y lo enviamos
                    const formId = 'deleteForm-' + Id;
                    const deleteForm = document.getElementById(formId);
                    deleteForm.submit();
                }
            });
        }
    </script>
}